/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "Heldane-Text-Regular";
  src: url("fonts/HeldaneText-Regular.woff2") format("woff2"), url("fonts/HeldaneText-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Heldane-Display-Regular";
  src: url("fonts/HeldaneDisplay-Regular.woff2") format("woff2"), url("fonts/HeldaneDisplay-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Heldane-Display-Bold";
  src: url("fonts/HeldaneDisplay-Bold.woff2") format("woff2"), url("fonts/HeldaneDisplay-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
}
html {
  scroll-behavior: smooth;
  min-width: 320px;
}

.visually-hidden, .visually-hidden * {
  position: absolute !important;
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  top: 0;
  left: 0;
  font-size: 0 !important;
  line-height: 0 !important;
}

img {
  max-width: 100%;
}

.reversed {
  transform: scale(-1, 1);
}

.bold {
  font-weight: 700;
}

.mobile-only {
  display: none;
}

@media screen and (max-width 480px) {
  .mobile-only {
    display: block;
  }
}
@media screen and (min-width: 481px) {
  .mobile-br {
    display: none;
  }
}
.highlighted {
  background-color: rgba(0, 60, 255, 0.8);
  color: #ffffff;
  transition: all 0.3s ease;
}
.highlighted:hover {
  color: inherit;
  background-color: rgba(0, 60, 255, 0);
}

.body {
  background-color: #FFFFFF;
  font-family: Titillium Web, sans-serif;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 1px 24px 0 rgba(17, 17, 17, 0.09);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__inner {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: content-box;
}
.header__blur, .header__mobile {
  display: none;
}
.header__links {
  display: flex;
  gap: 22px;
  list-style-type: none;
}
.header__link {
  position: relative;
  font-family: Titillium Web, sans-serif;
  font-weight: 600;
  color: #102A43;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.header__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #CB6E17;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.header__link:hover {
  color: #CB6E17;
}
.header__link:hover::before {
  transform: scaleX(1);
}
.header__close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99999;
  background-image: url("img/icon--menu-close.svg");
  width: 40px;
  height: 32px;
}
.header__open-menu {
  background-image: url("img/icon--menu-open.svg");
  width: 40px;
  height: 32px;
}
.header__close-menu, .header__open-menu {
  border: none;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media (max-width: 768px) {
  .header__logo {
    max-width: 50px;
  }
  .header__link {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .header__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__mobile {
    display: block;
    z-index: 99999;
  }
  .header__links {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    flex-direction: column;
    padding-left: 0;
    align-items: center;
    width: 100%;
    margin-top: 0;
    gap: 0;
    display: none;
    z-index: 99999;
  }
  .header__link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    font-size: 30px;
    text-align: center;
  }
  .header__link:hover {
    color: #102A43;
  }
  .header__link::before {
    display: none;
  }
  .header__blur {
    position: absolute;
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
  }
  .opened .header__links {
    display: flex;
  }
  .opened .header__blur {
    display: block;
  }
}
.footer {
  background-color: #112836;
  padding-top: 72px;
  padding-bottom: 112px;
  display: flex;
  justify-content: center;
}
.footer__inner {
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}
.footer__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
  gap: 90px;
}
.footer__bottom {
  padding-top: 47px;
  border-top: 2px solid #FFFFFF;
  width: 100%;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 0;
  margin: 0;
  flex-shrink: 0;
}
.footer__link {
  font-family: Heldane-Display-Bold, serif;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .footer__link:hover {
    color: #CB6E17;
  }
}
.footer__link:active {
  color: #CB6E17;
}
.footer__socials {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 0;
  margin: 0;
}
.footer__social-wrapper {
  line-height: 1;
}
.footer__social-link {
  font-family: Titillium Web, sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 2.14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .footer__social-link:hover {
    color: #CB6E17;
  }
}
.footer__social-link:active {
  color: #CB6E17;
}
.footer__disclaimer, .footer__copyright {
  font-family: Titillium Web, sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  margin: 0;
}
.footer__disclaimer {
  max-width: 460px;
  margin-bottom: 10px;
}
.footer__disclaimer--big {
  font-family: Titillium Web, sans-serif;
  font-weight: 700;
  color: white;
  font-size: 24px;
  margin: 0;
  letter-spacing: 0.84px;
  margin-bottom: 0;
}
.footer__disclaimer--small {
  font-family: Titillium Web, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.26px;
  color: rgb(160, 159, 160);
  margin: 0;
}

@media (max-width: 1200px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 780px) {
  .footer__top {
    gap: 30px;
  }
}
@media (max-width: 640px) {
  .footer__top {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .footer__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer__top {
    gap: 30px;
  }
  .footer__bottom {
    flex-direction: column;
    gap: 30px;
  }
  .footer__disclaimer--big {
    font-size: 18px;
  }
  .footer__disclaimer--small {
    font-size: 14px;
  }
}
.hero {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
  padding-bottom: 0;
}
.hero__inner {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__h1 {
  font-family: Heldane-Display-Bold, serif;
  text-align: center;
  color: #102A43;
  font-size: 128px;
  line-height: 1.2;
  letter-spacing: 1.28px;
  margin: 0;
  margin-bottom: 32px;
}
.hero__h2 {
  font-family: Heldane-Text-Regular, serif;
  font-weight: 400;
  text-align: center;
  color: #102A43;
  font-size: 44px;
  line-height: 1;
  letter-spacing: 1.28px;
  margin: 0;
  margin-bottom: 28px;
  max-width: 940px;
}
.hero__p {
  font-family: Titillium Web, sans-serif;
  text-align: center;
  color: #4A4A4A;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  margin: 0;
  margin-bottom: 0;
  max-width: 760px;
}
.hero__caption {
  margin-top: 42px;
  margin-bottom: -6px;
  background-color: #EFEEEE;
  padding: 24px;
  border-radius: 24px 24px 0 0;
  font-family: Heldane-Display-Regular, serif;
  font-size: 32px;
  font-weight: 400;
  color: #102A43;
  text-align: center;
  max-width: 60%;
  line-height: 1.25;
}
.hero__map {
  max-width: 960px;
  width: 100%;
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .hero__h1 {
    font-size: 96px;
    margin-bottom: 21px;
  }
  .hero__h2 {
    font-size: 32px;
  }
  .hero__p {
    font-size: 21px;
  }
  .hero__caption {
    max-width: 80%;
    font-size: 28px;
  }
}
@media (max-width: 990px) {
  .hero {
    padding-top: 150px;
  }
  .hero__h1 {
    font-size: 68px;
  }
  .hero__h2 {
    font-size: 24px;
    letter-spacing: unset;
  }
  .hero__p {
    font-size: 18px;
  }
  .hero__caption {
    font-size: 26px;
    margin-top: 32px;
  }
}
@media (max-width: 768px) {
  .hero__h1 {
    font-size: 54px;
    margin-bottom: 12px;
  }
  .hero__h2 {
    font-size: 24px;
    line-height: 1.35;
    max-width: 460px;
    margin-bottom: 18px;
  }
  .hero__p {
    font-size: 14px;
    max-width: 460px;
  }
  .hero__caption {
    font-size: 21px;
    margin-top: 24px;
  }
  .hero__map {
    border-radius: 8px;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .hero {
    padding-top: 130px;
  }
  .hero__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero__h1 {
    font-size: 54px;
  }
  .hero__caption {
    font-size: 21px;
    margin-top: 30px;
  }
}
.port {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 120px;
}
.port__inner {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.port__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}
.port__h2 {
  font-family: Heldane-Display-Bold, serif;
  text-align: center;
  color: #102A43;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 1.28px;
  margin: 0;
  margin-bottom: 28px;
  max-width: 940px;
}
.port__h3 {
  font-family: Heldane-Display-Regular, serif;
  font-weight: 400;
  text-align: center;
  color: #102A43;
  font-size: 52px;
  line-height: 1;
  letter-spacing: 1.28px;
  margin: 0;
  margin-bottom: 28px;
  max-width: 940px;
}
.port__p {
  font-family: Titillium Web, sans-serif;
  text-align: center;
  color: #4A4A4A;
  font-size: 21px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  margin: 0;
  margin-bottom: 18px;
  max-width: 760px;
}

@media (max-width: 1200px) {
  .port__h2 {
    font-size: 72px;
  }
  .port__h3 {
    font-size: 48px;
  }
}
@media (max-width: 990px) {
  .port__h2 {
    font-size: 64px;
  }
  .port__h3 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .port {
    padding-bottom: 70px;
  }
  .port__h2 {
    font-size: 56px;
  }
  .port__h3 {
    font-size: 38px;
  }
}
@media (max-width: 480px) {
  .port__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .port__h2 {
    font-size: 46px;
  }
  .port__h3 {
    font-size: 36px;
  }
}
.about {
  padding-top: 60px;
}

.future {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
}
.future__inner {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.future__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}
.future__h2 {
  font-family: Heldane-Display-Bold, serif;
  text-align: center;
  color: #102A43;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 1.28px;
  margin: 0;
  margin-bottom: 28px;
  max-width: 940px;
}
.future__h3 {
  font-family: Heldane-Display-Regular, serif;
  font-weight: 400;
  text-align: center;
  color: #102A43;
  font-size: 52px;
  line-height: 1;
  letter-spacing: 1.28px;
  margin: 0;
  margin-bottom: 28px;
  max-width: 940px;
}
.future__p {
  font-family: Titillium Web, sans-serif;
  text-align: center;
  color: #4A4A4A;
  font-size: 21px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  margin: 0;
  margin-bottom: 18px;
  max-width: 760px;
}

@media (max-width: 1200px) {
  .future__h2 {
    font-size: 72px;
  }
  .future__h3 {
    font-size: 48px;
  }
}
@media (max-width: 990px) {
  .future__h2 {
    font-size: 64px;
  }
  .future__h3 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .future__h2 {
    font-size: 56px;
  }
  .future__h3 {
    font-size: 38px;
  }
}
@media (max-width: 480px) {
  .future__h2 {
    font-size: 46px;
  }
  .future__h3 {
    font-size: 36px;
  }
}
.table {
  display: flex;
  flex-direction: column;
  gap: -1px;
  width: 100%;
}
.table__row {
  display: flex;
  flex-direction: row;
  gap: -1px;
  width: 100%;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0) 0px 8px 36px;
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .table__row:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 36px;
  }
}
.table__row:active {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 36px;
}
.table__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  border: 1px solid #EFEEEE;
  width: 100%;
}
.table__logo-wrapper {
  width: 100%;
  max-width: 132px;
}
.table__logo {
  border-radius: 50%;
}
.table__name-wrapper {
  max-width: 160px;
  justify-content: flex-start;
}
.table__name {
  font-family: Heldane-Display-Bold, serif;
  font-weight: 700;
  color: #102A43;
  font-size: 22px;
  text-align: left;
}
.table__description {
  font-family: Titillium Web, sans-serif;
  font-weight: 400;
  color: #102A43;
  font-size: 16px;
}
.table__links-wrapper {
  max-width: 150px;
}
.table__links {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
}
.table__link {
  text-decoration: none;
  font-family: Titillium Web, sans-serif;
  font-weight: 700;
  color: #102A43;
  font-size: 16px;
  transition: all 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .table__link:hover {
    color: #CB6E17;
  }
}
.table__link:active {
  color: #CB6E17;
}

@media (max-width: 990px) {
  .table__logo-wrapper {
    display: none;
  }
}
@media (max-width: 768px) {
  .table__name-wrapper {
    max-width: 100px;
  }
  .table__name {
    font-size: 21px;
  }
}
@media (max-width: 480px) {
  .table__description-wrapper {
    display: none;
  }
  .table__name-wrapper {
    max-width: 100%;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.cards__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
}

.card {
  transition: 0.55s cubic-bezier(0, 0.89, 0.44, 1);
  background-color: #FFFFFF;
  padding: 40px 50px;
  box-shadow: rgba(183, 183, 183, 0.86) 0px 10px 24px;
  transform: translateY(-4px);
  max-width: 840px;
  box-sizing: border-box;
}
.card__h2 {
  font-family: Heldane-Text-Regular, serif;
  font-weight: 400;
  text-align: left;
  color: #222222;
  font-size: 38px;
  line-height: 1.25;
  letter-spacing: -0.5px;
  margin: 0;
  margin-bottom: 24px;
}
.card__h3 {
  font-family: Titillium Web, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: #CB6E17;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  margin-bottom: 8px;
}
.card__h4 {
  font-family: Heldane-Text-Regular, serif;
  font-weight: 400;
  text-align: left;
  color: #222222;
  font-size: 26px;
  line-height: 1.25;
  letter-spacing: -0.5px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 10px;
}
.card__ul-second {
  padding-left: 20px;
}
.card__p {
  margin: 0;
}
.card__p, .card__li {
  font-family: Titillium Web, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #4A4A4A;
}
.card__li {
  margin-bottom: 8px;
}
.card__li:last-of-type {
  margin-bottom: 0;
}
.card__ol {
  padding-left: 20px;
}
.card__split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.card__split-divider {
  min-width: 1px;
  min-height: 100%;
  background-color: #EFEEEE;
}
.card__split-part {
  width: 100%;
}
.card__split-h4 {
  font-family: Heldane-Display-Regular, serif;
  color: #222222;
  font-size: 21px;
  margin: 0;
  margin-bottom: 8px;
}
.card__split-p {
  font-family: Titillium Web, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #4A4A4A;
  margin: 0;
}

@media (max-width: 1200px) {
  .card__h2 {
    font-size: 32px;
  }
  .card__split-h4 {
    font-size: 20px;
  }
}
@media (max-width: 990px) {
  .card__h2 {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .card__split-h4 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .card {
    padding: 24px;
  }
  .card__h2 {
    font-size: 27px;
  }
  .card__h3 {
    font-size: 12px;
  }
  .card__p, .card__li {
    font-size: 16px;
  }
  .card__split {
    flex-direction: column;
    gap: 18px;
  }
  .card__split-divider {
    min-width: 100%;
    min-height: 1px;
    background-color: #EFEEEE;
  }
  .card__split-h4 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .card__h2 {
    font-size: 27px;
  }
}
.accordion {
  border-top: 1px solid #D4D4D4;
  margin-top: -1px;
  width: 100%;
}
.accordion:last-of-type {
  border-bottom: 1px solid #D4D4D4;
}
.accordion__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
  text-align: left;
  cursor: pointer;
  padding: 30px;
  width: 100%;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .accordion__btn:hover {
    color: var(--orange--dark);
    transition: all 0.3s ease;
  }
}
.accordion__btn::after {
  content: "";
  background-image: url("img/faq__arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 11px;
  float: right;
  margin-left: 30px;
}
.accordion__text {
  padding-right: 80px;
  max-width: 760px;
  margin: 0;
  opacity: 0;
}
.accordion__text a {
  color: var(--orange--dark);
  text-decoration: none;
  transition: all 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .accordion__text a:hover {
    color: var(--orange);
  }
}
.accordion__text a:active {
  color: var(--orange);
}
.accordion__text--bold {
  font-weight: 600;
}
.accordion__panel {
  color: var(--black);
  padding: 0 30px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.accordion__panel li + li {
  margin-top: 8px;
}
.accordion__panel p + p {
  margin-top: 18px;
}

.active, .accordion__btn:active {
  transition: all 0.3s ease;
  padding-bottom: 10px;
}

.active::after {
  content: "";
  transform: scaleY(-1);
  transition: all 0.3s ease;
}

.accordion:not(.active)::after {
  transform: scaleY(1);
  transition: all 0.3s ease;
}

.active ~ .accordion__panel {
  padding: 0 30px;
  padding-bottom: 30px;
  padding-top: 10px;
}
.active ~ .accordion__panel .accordion__text {
  opacity: 1;
  transition: all 0.3s ease;
}

:not(.active) ~ .accordion__panel .accordion__text {
  opacity: 0;
  transition: all 0.3s ease;
}

@media screen and (max-width: 767px) {
  .accordion__btn {
    font-size: 18px;
  }
  .accordion__text {
    font-size: 14px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 340px) {
  .accordion__btn {
    padding: 20px;
  }
  .accordion__text {
    padding-right: 0px;
  }
  .active ~ .accordion__panel {
    padding: 0px 20px 20px 20px;
  }
}
/*# sourceMappingURL=style.css.map */
